{% extends 'inicio/base.html' %}

{% load static %}
{% load bootstrap %}

{% block title %} <span class='fs-2'> Entrá a tu homebanking </span> {% endblock %}

{% block content %}

{% block messages %} 
{% include 'inicio/messages.html' %}
{% endblock %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class = 'w-25 m-auto my-5'>
<form method="post" action="{% url 'Login:login' %}">
{% csrf_token %}

    <td>{{ form.username|bootstrap }}</td>
    <td>{{ form.password|bootstrap }}</td>


<input class = 'btn btn-primary w-100' type="submit" value="Login">
</form>
<p class='my-4 text-center'> ¿No tenés cuenta? <a href={% url 'Login:register' %} > Registrate </a> </p>
</div>


{% endblock %}