{% extends 'inicio/base.html' %}

{% load static %}

{% block title %} Registro {% endblock %}

{% block content %} 

<div class="container py-5">
	<form method="POST">
		{% csrf_token %} 
		<input type='text' name='username'></name>
		<input type='email' name='email'></name>    
		<input type='password' name='password1'></name>    
		<input type='password' name='password2'></name>                      
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="cuenta/login">Login</a> instead.</p>
</div>

{% endblock %}